{% extends 'layout-visitor.html.twig' %}



{% block content %}
    <section class="menupage">
    <h1 class="menutitle">Notre Carte</h1>
        <div class="menupricebox">
            <p class="dishprices">Menu Petit Tonneau Entrée/Plat ou Plat/Dessert 22 €</p>
            <p class="dishprices">Menu Grand Tonneau: Entrée/Plat/Dessert 28 €</p>
        </div>
    {% for category in categories %}
        <h2 class="menusection">{{ category.name }}  : {{ category.price }}  € <img src="/assets/images/faitmaison.png" alt="fait maison logo" class="faitmaisonlogo"></h2>
        {% for dishesWithCategory in dishesWithCategories %}
            <ul class="menulist">
            {% for dish in dishesWithCategory %}
                {% if dish.name == category.name %}
                    {% if (dish.sup != NULL) %}
                        <li class="menutext">{{dish.dish_name}}<strong>{{" (sup + #{dish.sup} euros)"}}</strong></li>
                    {% else %}
                        <li class="menutext">{{ dish.dish_name }}</li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>

        {% endfor %}


    {% endfor %}
        <p class="menufootnote">
            <img src="/assets/images/faitmaison.png" alt="fait maison logo" class="faitmaisonlogofooter">
            Logo « Fait Maison » selon le Décret Nº 2014-797 du 11 juillet 2014. <br/>
            Les plats «faits maison» sont élaborés sur place à partir de produits bruts.

        </p>
    </section>























    {% set section = '' %}

    {% for dish1 in dishes %}
        {% if (dish1.name != section) %}

            {% set section = dish1.name %}
            <h2 class="menusection">{{ section }} </h2>
            <ul class="menulist">
                {% for dish2 in dish %}
                    {% if dish1.name == dish2.name %}
                        {% if (dish2.sup != NULL) %}
                            <li class="menutext">{{dish2.dish_name}}<strong>{{" (sup + #{dish2.sup} euros)"}}</strong></li>
                        {% else %}
                            <li class="menutext">{{ dish2.dish_name }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>

        {% endif %}

    {% endfor %}

{% endblock %}
