{% extends 'layout-visitor.html.twig' %}

{% block content %}
    <section class="menupage">

        <h1 class="menutitle">Notre Carte</h1>

        <h2>Nos formules</h2>
        <div class="menupricebox">
            {% for menu in menus %}
                <p class="dishprices">{{ menu.name }} : {{ menu.price }} €</p>
            {% endfor %}
        </div>

        <h2>Carte des plats</h2>

        {% for dishCategory in dishCategories %}
            <h3 class="menusection">{{ dishCategory.name }} : {{ dishCategory.price }} € <img
                        src="/assets/images/faitmaison.png" alt="fait maison logo" class="faitmaisonlogo"></h3>
            {% for dish in dishesWithCategories[dishCategory.id] %}
                <ul class="menulist">
                    <li class="menutext">{{ dish.dish_name }}
                        <strong>{{ dish.sup is not null ? '  (sup + ' ~ dish.sup ~ ' euros)' }}</strong></li>
                </ul>
            {% endfor %}
        {% endfor %}

        <p class="menufootnote">
            <img src="/assets/images/faitmaison.png" alt="fait maison logo" class="faitmaisonlogofooter">
            Logo « Fait Maison » selon le Décret Nº 2014-797 du 11 juillet 2014. <br/>
            Les plats «faits maison» sont élaborés sur place à partir de produits bruts.
        </p>
    </section>
    <section>
        <h2>Carte des boissions</h2>

        {% for drinkCategory in drinkCategories %}
            <h3 class="menusection">{{ drinkCategory.name }}</h3>
            {% for drink in drinksWithCategories[drinkCategory.id] %}
                <ul class="menulist">
                    <li class="menutext">{{ drink.name }} - {{ drink.takeaway_price }}€
                        {% if drink.takeaway_price %}
                            (à emporter {{ drink.takeaway_price }}€)
                        {% endif %}
                        {% if drink.is_organic %}
                            <img class="organic" src="/assets/images/organic_logo.jpg" title="certification bio" alt="cerfifié bio"/>
                        {% endif %}

                    </li>
                </ul>
            {% endfor %}
        {% endfor %}
    </section>

{% endblock %}
