{% extends 'layout-visitor.html.twig' %}

{% block content %}
    <section class="menupage container">
    <h1 class="menutitle">Carte des vins</h1>


    {% for wineType in wineTypes %}
        <h2 class="menusection" id="{{ wineType.type|capitalize }}">{{ wineType.type|capitalize }} </h2>

        <table class="winemenutable">
            <tr class="wineblock">
                <th>Description</th>
                <th>A table</th>
                <th>A emporter</th>
            </tr>

        {% for wine in winesWithTypes[wineType.type] %}
            <tr class="wineblock">
                <td>{{ wine.description }}</td><td>{{ wine.restaurant_price }}</td><td>{{ wine.away_price }}</td>
            </tr>
        {% endfor %}

        </table>

    {% endfor %}

    </section>

{% endblock %}
