{% extends 'layout-visitor.html.twig' %}
{% block content %}
    <div class="container-fluid">
        <section class="guest-book">
            <h1 class="text-center">LIVRE D'OR</h1>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <form method="POST">
                        <div class="form-group">
                            <label for="name">Nom : *</label>
                            <input required class="form-control" type="text" value="{{ name }}" id="name" name="name"  placeholder="Votre nom">
                        </div>
                        {% if errors.name is defined %}
                            <div class="formErrors">{{ errors.name }}</div>
                        {% endif %}
                        <div class="form-group">
                            <label for="comment">Commentaire : *</label>
                            <textarea required class="form-control" name="comment" id="comment" placeholder="Votre commentaire" >{{ comment }}</textarea>
                        </div>
                        {% if errors.comment is defined %}
                            <div class="formErrors">{{ errors.comment}}</div>
                        {% endif %}
                        <div class="form-group all-stars justify-content-center">
                            <label for="rating" >Votre note : *</label>
                            <fieldset class="rating">
                                <input required type="radio" id="star5" name="rating" value="{{ rating }}5" /><label class = "full" for="star5" title="Excellent - 5 étoiles"></label>
                                <input required type="radio" id="star4" name="rating" value="{{ rating }}4" /><label class = "full" for="star4" title="Bon - 4 étoiles"></label>
                                <input required type="radio" id="star3" name="rating" value="{{ rating }}3" /><label class = "full" for="star3" title="Moyen - 3 étoiles"></label>
                                <input required type="radio" id="star2" name="rating" value="{{ rating }}2" /><label class = "full" for="star2" title="Mauvais - 2 étoiles"></label>
                                <input required type="radio" id="star1" name="rating" value="{{ rating }}1" /><label class = "full" for="star1" title= "Médiocre - 1 étoile"></label>
                            </fieldset>
                            {% if errors.rating is defined %}
                                <div class="formErrors">{{ errors.rating }}</div>
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <button type="submit" name="submit" value="submit" class="btn btn-lg m-3 btn-dark">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="comments">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    {% for reviews in reviewAll %}
                        <div class="card col-sm-12 col-md-5 col-lg-3 text-center">
                            <div class="card-body ">
                                <h5 class="card-title">{{ reviews.name }}</h5>
                                <div class="col-12">
                                    <hr>
                                </div>
                                <p class="card-text card-date">{{ reviews.date }}</p>
                                <div class="col-12">
                                    <hr>
                                </div>
                                <div class="rating-display text-center col-sm-12">
                                    {% for i in 1..5 %}
                                        <i class="icon-star{{i > reviews.rating ? '-empty' }}"></i>
                                    {% endfor %}
                                </div>
                                <p class="card-text">{{ reviews.comment }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>

{% endblock %}

